### Python Programming Basic Assignment 2

#### 1. Write a Python program to convert kilometers to miles?

In [82]:
def killometers_to_miles(): 
    try:
        n = float(input("Enter the kilometers: "))
    except :
        print('Invalid values entered.')
    else:
        print('Killometers to miles')
        return round(n/1.609,4)

In [83]:
killometers_to_miles()

Enter a Number: 5
Killometers to miles

3.1075

#### 2. Write a Python program to convert Celsius to Fahrenheit?

In [87]:
def celsius_to_Fahrenheit(): 
    try:
        n = float(input("Enter the temperature in Celsius: "))
    except :
        print('Invalid values entered.')
    else:
        print('Celsius to Fahrenheit conversion')
        return round((n*9/5)+32,4)

In [89]:
celsius_to_Fahrenheit()

Enter the temperature in Celsius: 49
Celsius to Fahrenheit conversion

120.2

#### 3. Write a Python program to display calendar?

In [94]:
import calendar
print(calendar.calendar(2022))

                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

#### 4. Write a Python program to solve quadratic equation?

In [152]:
import cmath
def quadratic_equation_solver(): 
    try:
        a = float(input("Enter the value of a: "))
        b = float(input("Enter the value of b: "))
        c = float(input("Enter the value of c: "))
    except Exception as e:
        print(e)
    else:
        print('two roots are:')
        return (-b + cmath.sqrt(b**2 - 4*a*c))/(2*a), (-b - cmath.sqrt(b**2 - 4*a*c))/(2*a)

In [156]:
quadratic_equation_solver()

Enter the value of a: 10
Enter the value of b: 55
Enter the value of c: 4
two roots are:

((-0.07371526178547291+0j), (-5.426284738214527+0j))

#### 5. Write a Python program to swap two variables without temp variable?

In [158]:
x = 24
y = 45
x,y

(24, 45)

In [159]:
# swap
x,y = y,x
x,y

(45, 24)